body {
  background-color: #f5f7fa;
  font-family: "Montserrat", "arial";
}

li {
  line-height: 24px;
}

/* Contenedo principal */
.contenedor-principal {
  width: auto;
  height: auto;
  margin: 10px 10px;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
}

.descripcion-profesion {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.descripcion {
  margin-right: 20px;
}

.informacion-general {
  padding-left: 25px;
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

.nombre {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-seccion-principal {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

/* Proyectos realizados */
.lista-proyectos {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 17px;
}

.enlaces-proyectos {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.puntos-lista-pr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3px;
  color: #595959;
}

/* Trabajos realizados */
.subtitulo-seccion-principal {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.subtitulo-seccion-principal-naranja {
  color: #fb6d3a;
  margin-top: 15px;
  margin-bottom: 11px;
}

.lista-principal {
  padding-left: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.parrafo-seccion-principal {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.descripcion-parrafo {
  width: auto;
  text-align: justify;
}

.experiencia {
  margin-right: 20px;
}
.experiencia .educacion {
  margin-right: 100px;
}

/* contenedor lateral */

.img {
  margin-left: 1px;
}

.informacion-lateral {
  background: #1e2939;
  color: #ffffff;
  padding: 10px;
}

.informacion-directa {
  margin-left: 10px;
}

.titulo-lateral {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-top: 50px;
}

/* seccion contactos */
.tipo-contacto {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 5px;
}

.contacto-info {
  color: gray;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* seccón de listas */

.lista-lateral {
  padding-left: 17px;
}

.lista-lateral > li {
  color: #fb6d3a;
}

.elemento-lista-lateral {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
/* Languages change */
.switch h3 {
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
}
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .contenedor-principal {
    flex-direction: column;
  }
}
